# ─── Facebook Pixel & CAPI ────────────────────────────────────────────────
PIXEL=
FB_CAPI_TOKEN=
FB_CAPI_TEST_EVENT_CODE=
FB_DOMAIN_VERIFICATION=

# ─── Google Analytics ─────────────────────────────────────────────────────
G_ANALYTICS=
